.coment {
    color: black;
    padding: 10px 10px;
    background-color: wheat;
    text-align: center;
    border-radius: 8px;
}

.coment-field {
    margin-left: 8px;
}

.ranking {
    width: 100%;
    max-width: 98%;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 10px;
    padding: 10px 0;
    border-radius: 8px;
    border: 5px solid;
    background-color: white;
}

.top1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
    margin-top: 20px;
}

.rank-number {
    color: #505050;/*文字色*/
  padding: 0.5em;/*文字周りの余白*/
  display: inline-block;/*おまじない*/
  line-height: 1.3;/*行高*/
  background: gold;/*背景色*/
  vertical-align: middle;
  border-radius: 25px 0px 0px 25px;/*左側の角を丸く*/
  width: 250px;
}

.rank {
    margin-left: 100px;
}

.set {
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
}

.set p {
    color: black;
}

.rank-number::before {
  content: '●';
  color: white;
  margin-right: 8px;
}

.coments {
    text-align: left;
    margin-right: 100px;
    padding: 15px 10px;
    background-color: gray;
    border-radius: 5px;
    width: fit-content;
}

.coments p {
    text-align: left;
}

.coments h2 {
    text-align: center;
}

.top1 img {
    display: block;
    margin-top: 10px;
    width: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.star {
    font-size: 100px;
    margin-top: 10px;
    margin-right: 50px;
}

.star .stars {
    margin-right: 40px;
}


.star p {
    font-size: 50px;
    margin-left: 80px;
}

.top2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.top2 img {
    display: block;
    margin-top: 10px;
    width: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.top3 {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.top3 img {
    display: block;
    margin-top: 10px;
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}