.timelines {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
    background-color: black;
}

.timelines::before {
    content: "";
    position: absolute;
    left: 180px;
    top: 0;
    width: 2px;
    height: 100%;
    background: #555;
}

.timeline-year {
    font-size: 28px;
    font-weight: bold;
    color: white;
    margin-left: 40px;
    margin-top: 50px;
    width: 120px;
    text-align: right;
    line-height: 1.2;
}

.timeline-year span {
    font-size: 16px;
    font-weight: normal;
}

.timeline-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 60px;
    position: relative;
}

.timeline-dot {
    width: 14px;
    height: 14px;
    background: white;
    border-radius: 50%;
    margin-left: 173px;
    margin-right: 30px;
    flex-shrink: 0;
}

.timeline-content {
    background: #111;
    padding: 15px;
    border-radius: 8px;
    width: 300px;
}

.timeline-content img {
    width: 100%;
    border-radius: 6px;
    margin-top: 8px;
}

.event-title {
    color: #fff;
    font-size: 16px;
    margin: 0;
    border-left: 4px solid #aaa;
    padding-left: 6px;
}
